# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Local environment variables
.env
secrets.toml

# Model files
models/*.h5
models/*.pkl

# Jupyter/IPython Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log
*.sqlite3
*.db

# Streamlit cache
.streamlit/config.toml
.streamlit/secrets.toml

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.cache

# Build outputs
build/
dist/
*.egg-info/

# Static builds or exported charts/images
*.pdf
*.png
*.jpg
*.jpeg
charts_export/

# Temporary files
*.bak
*.tmp
